<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>  
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}

    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Jovian Careers
      </h1>

      <p>Your application for the role of <b>{{job['title']}}</b> at Jovian has been submitted!</p>
      
      <b>Full Name</b>
      <div class="mb-2">{{application['full_name']}}</div>
  
      <b>Email</b>
      <div class="mb-2">{{application['email']}}</div>
  
      <b>LinkedIn URL</b>
      <div class="mb-2">{{application['linkedin_url']}}</div>
  
      <b>Education</b>
      <div class="mb-2">{{application['education']}}</div>
  
      <b>Work Experience</b>
      <div class="mb-2">{{application['work_experience']}}</div>
  
      <b>Resume URL</b>
      <div class="mb-2">{{application['resume_url']}}</div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
